:root{
    --relative-font-size:12px;
}


@media (max-width:1390px) {
    nav.header-inline-menu {
    width: 100%;
}
ul.list-menu {
    max-width: 61%;
    width: 58%;
}
}
@media (max-width:1024px) {
    ul.list-menu {
    width: 64%;
}
}

@media (max-width:990px) {
        ul.list-menu {
    display: none;
}
    
}
@media (max-width:830px) {
    .announcment-bar-outter h2{

    font-size: 12px;
    }
}
@media (max-width:365px) {
    .announcment-bar-outter h2 {
    font-size: 10px;
}
}